/* Helpers */

.muted {
	opacity: 0.5;
}

.dropcap {
	float: left;
	position: relative;
	height: 4.5rem;
	margin: 0 1rem 0 0;
	color: #1e1e1e;
	font-size: 5rem;
	font-weight: 700;
	line-height: 0.85;
}

.lead-dots {
	overflow-x: hidden;
}

.lead-dots:before {
	float: left;
	width: 0;
	white-space: nowrap;
	content: '. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ';
}

.lead-dots span:first-child {
	padding-right: 0.25em;
	background: #fff;
}

.lead-dots span + span {
	float: right;
	padding-left: 0.25em;
	background: #fff;
}

.highlight {
	display: inline-block;
	background-color: #fff090;
}
