/* Tables */

table {
	width: 100%;
	margin-bottom: em_minus_px( 1.5em, 1px );
	padding: 0;
	cellspacing: 0;
}

td,
th {
	padding: 0.75em;
	border-bottom: 1px solid $color__gray;
	text-align: left;
}

thead th {
	padding: 1em 1em em_minus_px( 1em, 1px, $font__size-body-px * 0.75 );
	background-color: $color__gray;
	font-size: 0.75em;
	font-weight: 400;
	line-height: 2;
	text-transform: uppercase;
}
