// Text.
$color__text: #555555; // r:85 g:85 b:85

//Headings.
$color__headings: #1e1e1e; // r:30 g:30 b:30

// Grays.
$color__gray: rgba( $color__text, 0.15 );

// Opacity version of shades of gray for some text elements.
$opacity: 0.5;

// Code Samples a.k.a <pre>
$color__code-text: #fff;
$color__code-bg:   #1e1e1e;

// Body.
$color__background-body: #fff;

// Theme Accent Color.
$color__accent: #d17d38;
$color__accent: #d17d38;

// States.
$color__success: #1fc281;
$color__info:    #00b9f2;
$color__warning: #f4cc31;
$color__danger:  #e83337;

// Highlight.
$color__highlight: #fff090;

// Menu.
$color__menu-bg:   #ffffff;
$color__menu-text: $color__text;

// Footer.
$color__footer-bg: #1a1a1a;
$color__footer-text: #ffffff;


