$font__main:             "Open Sans", Helvetica, Arial, sans-serif;
$font__headings:         'Lato', Helvetica, Arial, sans-serif;
$font__code:             'Courier New', Courier, monospace;
$font__blockquote:       $font__main;
$font__pre:              'Courier New', Courier, monospace;
$font__size-body:        18;
$font__size-body-px:     $font__size-body * 1px;
$font__line-height-body: 1.5;
$font__line-height-pre:  1.6;
