/// Rem output with px fallback.
@mixin font-size( $val: 1 ) {
	font-size: $val * $font__size;
	font-size: $val * 1rem;
}

// Line-height otuput with px fallback.
@mixin line-height( $val: $font__line-height ) {
	line-height: $val * $font__size;
	line-height: $val * 1rem;
}

// Center block.
@mixin center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

@mixin clearfix() {
	&:before,
	&:after {
		display: table;
		clear: both;
		content: '';
	}
}

@mixin clearfix-before() {
	&:before {
		display: table;
		clear: both;
		content: '';
	}
}

@mixin clearfix-after() {
	&:after {
		display: table;
		clear: both;
		content: '';
	}
}


@mixin focus() {
	// Default
	outline: thin dotted;
	// WebKit
	// outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

// Using a mixin here to reuse it for editor CSS file. Since some of the
// properties are getting overriden there.
@mixin counter-playlist {
	.mejs-time-current {
		background-color: $color__accent;
	}
	.wp-playlist {
		@include font-size( 1 );
		@include line-height( 1.5 );
		max-width: 100%;
		margin: 0 0 1.5em;
		padding: 0;
		border: none;
	}
	.wp-playlist-tracks {
		margin-top: 1.5em;
	}
	.wp-playlist-light {
		background-color: transparent;
	}
	.wp-playlist-current-item {
		height: 4.5em;
		margin-bottom: 1.5em;
		img {
			max-width: 4.5em;
			margin-right: 1.5em;
		}
	}
	.wp-playlist-item,
	.wp-playlist-item-length {
		padding: 0.75em 0.75em 0.75em;
	}

	.wp-playlist-tracks {
		border-top: 1px solid $color__gray;
	}

	.wp-playlist-item {
		border-bottom: 1px solid $color__gray;
	}
	.wp-playlist-caption,
	[class*='wp-playlist-item-'] {
		@include font-size( 1 );
		@include line-height( 1.5 );
		font-style: normal;
		text-transform: none;
	}
	.wp-playlist-playing {
		background-color: $color__gray;
		font-weight: normal;
	}
}

@mixin counter-fa-icon {
	display: inline-block;
	font: normal normal normal 18px/1.5 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
