/* Not found */

.error404,
.search-no-results {
	.site-content.wrap {
		@media screen and ( min-width: $md ) {
			@include with-layout( $susy-static ) {
				max-width: span( 6 );
			}
			padding-right: 0;
			padding-left: 0;
		}
	}
}

.not-found {
	text-align: center;
}
