/* Search results */

.search-results {
	.page-header, {
		@include with-layout( $susy-static ) {
			max-width: span( 6 );
		}
		margin-right: auto;
		margin-bottom: 1.5em;
		margin-left: auto;
	}
	.page-title {
		@include font-size( 24/18 );
		@include line-height( 1.5 );
	}
	.search-form {
		@include with-layout( $susy-static ) {
			max-width: span( 6 );
		}
		margin-right: auto;
		margin-bottom: 1.5em;
		margin-left: auto;
		@media screen and ( min-width: $sm ) {
			margin-bottom: 4.5em;
		}
	}
	.hentry {
		@extend .clear;
		@include with-layout( $susy-static ) {
			max-width: span( 6 );
		}
		margin-right: auto;
		margin-bottom: 1.5em;
		margin-left: auto;
		word-wrap: break-word;
		@media screen and ( min-width: $md ) {
			margin-bottom: 3em;
			padding-bottom: 1.5em;
		}
	}
	.entry-title {
		@include font-size( 24/18 );
		@include line-height( 1.5 );
	}
	.entry-subtitle {
		display: none;
	}
}
