/* Accessibility */

.screen-reader-text {
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	width: 1px;
	height: 1px;
	&:hover,
	&:active,
	&:focus {
		display: block;
		clip: auto !important;
		z-index: 100000; // Above WP toolbar.
		width: auto;
		height: auto;
	}
}
