/**
 * Comments
 */

.comment-list,
.children {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.comment-list {
	margin-left: 0;
	padding-top: 1.5em;
	border-top: 1px solid $color__gray;
}

.children {
	margin-left: 5%;
}

.comment-body {
	word-wrap: break-word;
	position: relative;
	margin: 0 0 1.5em 0;
	border-bottom: 1px solid $color__gray;
	.pingback & {
		margin: 0 0 1.5em 0;
		padding: 1.5em;
		border-bottom: none;
		background-color: $color__gray;
		.edit-link {
			display: block;
			float: right;
		}
	}
}

.comment-meta {
	margin: 0 0 1.5em 0;
}

.comment-author {
	img {
		display: block;
		float: left;
		clear: left;
		width: 3em;
		height: 3em;
		border-radius: 50%;
	}
}

.comment-author .fn,
.comment-metadata {
	display: block;
	margin-left: $font__size * 4.5;
	margin-left: 4.5rem;
}

.says {
	display: none;
}

.comment-metadata {
	@include font-size( 0.875 );
	@include line-height( 1.5 );
	margin-bottom: 1.5rem;
	time,
	.edit-link a {
		margin-right: 0.5em;
	}
}

.reply {
	position: absolute;
	top: 0;
	right: 0;
}

.comment-content {
	@extend .clear;
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comment-awaiting-moderation {
	opacity: $opacity;
}

.comment-reply-title small {
	@include font-size();
	@include line-height();
	float: right;
	font-weight: normal;
	line-height: inherit;
	a {
		color: $color__danger;
		&:before {
			@include counter-fa-icon();
			margin: 0 0.5em;
			content: '\f057';
		}
	}
}

.required {
	color: $color__danger;
}

.comment-form {
	textarea {
		min-height: 13.5em;
	}
}

.comment-notes,
.form-allowed-tags {
	@extend .screen-reader-text;
}

@media screen and ( min-width: $sm ) {
	.children {
		margin-left: 5%;
	}

	.comment-list,
	.form-submit {
		margin-bottom: 3em;
	}
}

/* Comment Navigation */

.comment-navigation {
	overflow: hidden;
	margin: 0 0 1.5em;
	word-wrap: break-word;
	@media screen and ( min-width: $sm ) {
		margin-bottom: 3em;
	}

	.nav-links {
		overflow: hidden;
		width: 100%;
		a {
			display: block;
			float: left;
		}
	}
	.nav-previous {
		float: left;
	}

	.nav-next {
		float: right;
	}

	.nav-previous a:before,
	.nav-next a:after {
		@include counter-fa-icon();
	}

	.nav-previous a:before {
		margin: 0 0.5em 0 0;
		content: '\f104';
	}

	.nav-next a:after {
		margin: 0 0 0 0.5em;
		content: '\f105';
	}
}
