/* Header */

.site-header {
	@extend .clear;
	position: relative;
	border-bottom: 1px solid $color__gray;
	@media screen and ( min-width: $sm ) {
		border-bottom: none;
	}
}

.site-header-wrap {
	@include clearfix-after();
	position: relative;
	z-index: 20;
	max-width: 1024px;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	padding: 1.5em;
	text-align: center;
	&:before {
		display: inline-block;
		height: 100%;
		margin-right: -0.25em; /* Adjusts for spacing */
		vertical-align: middle;
		content: '';
	}
	@media screen and ( min-width: $sm ) {
		padding: 1.5em 1.5em 0;
		.no-primary-menu & {
			padding: 1.5em;
		}
	}
}

.site-branding {
	display: inline-block;
	@media screen and ( min-width: $sm ) {
		margin: 10% 0;
	}
}

.site-title {
	margin-bottom: 0;
	font-family: $font__headings;
	font-size: 1.5em; // 27px
	font-weight: 700;
	line-height: 1.25; // 33.75px
	letter-spacing: 3px;
	text-transform: uppercase;
	a {
		color: $color__headings;
	}
}

.site-description {
	@include line-height( 1.5 );
	margin-bottom: 0;
	opacity: 0.5;
	color: $color__headings;
	font-size: 0.75em;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.custom-logo-link {
	@include with_layout( $susy-static ) {
		max-width: span( 3 wide );
	}
	display: block;
	margin-right: auto;
	margin-bottom: 0.75em;
	margin-left: auto;
	img {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
}

.title-tagline-hidden {
	.site-title,
	.site-description {
		clip: rect(1px, 1px, 1px, 1px);
		position: absolute;
	}
	.custom-logo-link {
		margin-bottom: 0;
	}
}

// Edit shortcut icon.
.custom-logo-link .customize-partial-edit-shortcut {
	display: block;
	button {
		left: 0;
	}
}
