/* Primary Menu */
.main-navigation {
	display: none;
	position: absolute;
	z-index: 50;
	top: 0;
	width: 100%;
	min-height: 3em;
	border-bottom: 1px solid $color__gray;
	background-color: #fff;
	ul {
		margin: 0;
		padding: 0.6666666667em 0;
		list-style: none;
		ul {
			display: none;
			margin: 0 0 0 1em;
			padding: 0;
			&.toggled-on {
				display: block;
			}
		}
	}
	&.toggled {
		display: block;
	}
	li {
		display: block;
		position: relative;
	}
	a {
		display: block;
		padding: 0.6666666667em 1.3333333333em;
		color: $color__text;
		font-family: $font__headings;
		font-size: 0.75em;
		font-weight: 400;
		line-height: 1rem;
		letter-spacing: 2px;
		text-transform: uppercase;
		&:hover,
		&:focus,
		&:active {
			color: $color__accent;
		}
	}
	.menu-item-has-children > a,
	.page_item_has_children > a {
		padding-right: 3em;
	}
}

@media screen and ( min-width: $sm ) {
	.main-navigation {
		display: block;
		position: relative;
		text-align: center;
		&.fixed {
			position: fixed;
			.admin-bar & {
				top: 46px;
				@media screen and ( min-width: 783px ) {
					top: 32px;
				}
			}
		}
		ul {
			width: auto;
			margin: 0 auto;
			padding: 0;
			list-style: none;
			ul {
				position: absolute;
				top: -9999em;
				width: 12em;
				margin: 0;
				outline: 1px solid $color__gray;
				background-color: #fff;
				&.toggled-on {
					top: 100%;
					top: calc( 100% + 1px );
				}
				ul {
					position: static;
				}
				li {
					display: block;
				}
				a {
					display: block;
					padding: 1em;
				}
			}
		}
		li {
			display: inline-block;
		}
		a {
			padding: 2em 1.25em;
			text-align: left;
		}
	}
}

/* Menu Toggle */
.menu-toggle {
	position: absolute;
	z-index: 50;
	top: 1em;
	right: 1em;
	width: 1.5em;
	height: 1.5em;
	padding: 0;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	text-indent: -9999px;
	@media screen and ( min-width: $sm ) {
		display: none;
	}
	&:hover,
	&:focus {
		box-shadow: none;
	}
	&.toggled {
		.menu-toggle-icon {
			background-color: transparent;
			&:before,
			&:after {
				top: 0;
				background-color: $color__headings;
			}
			&:before {
				transform: rotate( 225deg );
			}
			&:after {
				transform: rotate( -225deg );
			}
		}
	}
}

.menu-toggle-icon {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1.5em;
	height: 1px;
	margin-top: -1px;
	margin-left: -0.75em;
	background-color: $color__headings;
	&:before,
	&:after {
		display: block;
		position: absolute;
		width: 1.5em;
		height: 1px;
		background-color: $color__headings;
		content: '';
	}
	&:before {
		top: -7px;
	}
	&:after {
		top: 7px;
	}
}

/* Dropdown Toggle */
.dropdown-toggle {
	position: absolute;
	top: 8px;
	right: 1em;
	width: 1.5em;
	height: 1.5em;
	padding: 0;
	border: none;
	background-color: transparent;
	text-align: center;
	@media screen and ( min-width: $sm ) {
		top: 1.75em;
		.sub-menu & {
			top: 11px;
			right: 11px;
		}
	}
	&:before {
		position: absolute;
		top: 5px;
		left: 6px;
		width: 1px;
		height: 11px;
		background-color: $color__text;
		content: '';
		transform: rotate( -225deg );
	}
	&:after {
		position: absolute;
		top: 5px;
		right: 6px;
		width: 1px;
		height: 11px;
		background-color: $color__text;
		content: '';
		transform: rotate( 225deg );
	}
	&.toggle-on {
		&:before {
			background-color: $color__accent;
			transform: rotate( 225deg );
		}
		&:after {
			background-color: $color__accent;
			transform: rotate( -225deg );
		}
	}
	&:hover,
 	&:focus {
		&:before {
			background-color: $color__accent;
		}
		&:after {
			background-color: $color__accent;
		}
	}
}
