/* Primary Menu */
.main-navigation {
	display: none;
	position: absolute;
	z-index: 50;
	top: 0;
	width: 100%;
	max-width: $lg;
	min-height: 3em;
	border-bottom: 1px solid $color__gray;
	background-color: #fff;
	ul {
		margin: 0;
		padding: 0.6666666667em 0;
		list-style: none;
		ul {
			display: none;
			margin: 0 0 0 1em;
			padding: 0;
			&.toggled-on {
				display: block;
			}
		}
	}
	&.toggled {
		display: block;
	}
	li {
		display: block;
		position: relative;
	}
	a {
		display: block;
		padding: 0.6666666667em 1.3333333333em;
		color: $color__text;
		font-family: $font__headings;
		font-size: 0.75em;
		font-weight: 400;
		line-height: 1rem;
		letter-spacing: 2px;
		text-transform: uppercase;
		&:hover,
		&:focus,
		&:active {
			color: $color__accent;
		}
	}
	.menu-item-has-children > a,
	.page_item_has_children > a {
		padding-right: 3em;
	}
}

@media screen and ( min-width: $sm ) {
	.main-navigation {
		display: block;
		position: relative;
		text-align: center;
		&.fixed {
			position: fixed;
			.admin-bar & {
				top: 46px;
				@media screen and ( min-width: 783px ) {
					top: 32px;
				}
			}
		}
		ul {
			width: auto;
			margin: 0 auto;
			padding: 0;
			list-style: none;
			ul {
				position: absolute;
				z-index: 60;
				top: -9999em;
				width: 12em;
				margin: 0;
				outline: 1px solid $color__gray;
				background-color: #fff;
				&.toggled-on {
					top: 100%;
					top: calc( 100% + 1px );
				}
				ul {
					position: static;
				}
				li {
					display: block;
				}
				a {
					display: block;
					padding: 1em;
				}
			}
		}
		li {
			display: inline-block;
		}
		a {
			padding: 2em 1.25em;
			text-align: left;
		}
	}
}

/* Menu Toggle */
.menu-toggle {
	position: absolute;
	z-index: 60;
	top: 1.3571428571em;
	right: 1em;
	height: 1.5em;
	padding: 0;
	border: 0;
	background-color: transparent;
	line-height: 1rem;
	text-align: left;
	@media screen and ( min-width: $sm ) {
		display: none;
	}
	&:hover,
	&:focus {
		box-shadow: none;
	}
	&:before {
		@include counter-fa-icon();
		display: block;
		position: absolute;
		top: 0;
		left: -25px;
		width: 21px;
		height: 21px;
		text-align: center;
		content: '\f0c9';
	}
	&.toggled {
		&:before {
			content: '\f00d';
		}
	}
}

/* Dropdown Toggle */
.dropdown-toggle {
	position: absolute;
	top: 8px;
	right: 1em;
	width: 1rem;
	height: 1rem;
	padding: 0;
	border: none;
	background-color: transparent;
	text-align: center;
	@media screen and ( min-width: $sm ) {
		top: 1.8571428571em;
		.sub-menu & {
			top: 11px;
			right: 11px;
		}
	}
	&:after {
		@include counter-fa-icon();
		display: block;
		width: 1rem;
		height: 1rem;
		content: '\f107';
	}
	&.toggle-on {
		&:after {
			content: '\f106';
		}
	}
	&:hover,
	&:focus {
		&:after {
			color: $color__accent;
			background-color: trasparent;
		}
	}
}
