/* Social Icons */

.menu-social-container {
	a {
		&:before {
			@include counter-fa-icon();
			width: 1.2em;
			margin-right: 0.5em;
		}
		&:hover,
 		&:focus {
			opacity: $opacity;
		}
		@each $url, $i in $social-icons {

			&[href*='#{$url}']:before {
				content: char( nth( $i, 1 ));
			}

			@if length( $i ) == 2 {
				&[href*='#{$url}']:before {
					color: nth( $i, 2 );
				}
			}
		}
	}
}
