/* Page Title */

.page-title {
	margin-bottom: 0.75em;
	@media screen and ( min-width: $sm ) {
		margin-bottom: 1.5em;
	}
}

.taxonomy-description p {
	display: block;
	margin: -0.4166666667em 0 1.25em;
	opacity: $opacity;
	font-size: 1.2em; // 21.6
	line-height: 1.5; // 32.4px
	@media screen and ( min-width: $sm ) {
		margin: -1.25em 0 1.6666666667em;
	}
}
