/**
 * Widgets
 */

.widget-area {
	@include with_layout( $susy-static ) {
		max-width: span( 6 );
	}
	margin-right: auto;
	margin-left: auto;
}

.widget {
	margin: 0 0 2.5em;
	word-wrap: break-word;
	@media screen and ( min-width: $sm ) {
		margin: 0 0 3em;
	}
	.widget-area & {
		padding: 1.5em;
		border: 1px solid $color__gray;
	}
	select {
		max-width: 100%;
	}
	&:not( .widget_text ) {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
	}
	p:last-child,
	p:only-child {
		margin-bottom: 0;
	}
}

.widget-title {
	margin-top: 0;
	margin-bottom: 0.75em;
}

.widget.widget_search {
	padding: 0;
	border: none;
	background-color: transparent;
	.search-submit {
		display: none;
	}
}

.widget_calendar {
	caption {
		@include font-size( 0.625 );
		@include line-height( 1.5 );
		font-weight: normal;
		letter-spacing: ( 1em / 16 );
		text-transform: uppercase;
	}
	table {
		max-width: 100%;
		margin-bottom: 0;
	}
	td,
	th {
		@include font-size( 0.75 );
		padding: 0 ;
		line-height: 2em;
		text-align: center;
	}
	td, {
		line-height: 2em;
	}
	th {
		line-height: 2em;
	}
	tfoot td:first-child {
		padding-left: 0.75em;
		text-align: left;
	}
	tfoot td:last-child {
		padding-right: 0.75em;
		text-align: right;
	}
}

.widget.widget_recent_comments,
.widget.widget_recent_entries,
.widget.widget_rss {
	li {
		margin-bottom: 0.75em;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.widget_rss {
	.widget-title {
		a:first-child {
			display: none;
		}
	}
	li {
		margin-bottom: 1.5em;
	}
	a {
		display: block;
	}
	cite {
		margin: 0;
		opacity: $opacity;
	}
	.rss-date {
		@include font-size( 0.75 );
		@include line-height( 1.5 );
		display: block;
		margin: 0;
		opacity: $opacity;
	}
}

.widget.widget_nav_menu {
	ul ul {
		margin-left: 1em;
	}
	[class^='menu-inline-'] {
		ul ul {
			display: inline;
			margin-left: 0;
		}
		li {
			display: inline-block;
			margin: 0 0.4em;
		}
	}
}

// Image.
.widget.widget_image {
	a {
		display: block;
	}
	img,
	.wp-caption {
		display: block;
		margin: 0 0 !important;
	}
	figcaption {
		margin-top: 0.25em;
	}
}

// Contact Info.
.widget.widget_contact_info {
	iframe,
	> div {
		margin-bottom: 0.75em;
	}
	> div:last-child {
		margin-bottom: 0;
	}
}

.widget.widget_authors {
	.widget-title {
		margin-bottom: 1.5em;
	}
	> ul {
		> li {
			margin-bottom: 1.5em;
			&:last-child {
				margin: 0;
			}
			> a {
				display: block;
				margin-bottom: 0.75em;
			}
			img {
				border-radius: 50%;
			}
			li {
				margin-bottom: 0.75em;
			}
		}
	}
}

// Facebook, Twitter and Google +.
.widget {
	&.widget_facebook_likebox,
 	&.widget_googleplus_badge {
		padding: 0;
		border: none;
		background-color: transparent;
		.widget-title {
			@include screen-reader-text;
		}
	}
}

// Jetpack Display Posts.
.widget .jetpack-display-remote-posts {
	margin: 0;
	h4 {
		font-size: inherit;
		margin-bottom: 0.75rem;
		line-height: 1.5;
	}
	> a {
		display: block;
		margin-bottom: 0.5rem;
	}
}

// Flickr.
// Waiting on https://github.com/Automattic/jetpack/issues/7089

// Gallery.
#content .widget .tiled-gallery {
	margin-bottom: 0;
}

// Gravatar.
.widget.widget-grofile {
	h4 {
		font-size: 1rem;
		font-weight: 700;
	}
	.grofile-accounts {
		margin-bottom: 1em;
	}
}

// Internet Defense Badge.
.widget.widget_internet_defense_league_widget {
	a, img {
		display: block;
		margin: 0 auto;
	}
}

// Milestone.
.widget.milestone-widget {
	margin: 0 0 2.5em;
	@media screen and ( min-width: $sm ) {
		margin: 0 0 3em;
	}
}

// Twitter.
// Facebook, Twitter and Google +.
.widget {
	&.widget_twitter_timeline {
		padding: 0;
		// border: none;
		.widget-title {
			@include screen-reader-text;
		}
	}
}
